@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSans/OpenSans-Light.ttf');
}
